/* line 33, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h1, * h2, * h3, * h4, * h5, * h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h1 img, * h2 img, * h3 img, * h4 img, * h5 img, * h6 img {
  margin: 0;
}
/* line 53, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
* a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
* a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
* a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
* a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* strong, * dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* em, * dfn {
  font-style: italic;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* sup, * sub {
  line-height: 0;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* abbr, * acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* del {
  color: #666666;
}
/* line 70, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* pre, * code, * tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* li ul, * li ol {
  margin: 0;
}
/* line 73, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* ul, * ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* th {
  font-weight: bold;
}
/* line 81, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* th, * td, * caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* table.striped tr:nth-child(even) td,
* table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* .quiet {
  color: #666666;
}
/* line 89, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
* .loud {
  color: #111111;
}

/* line 11, ../../compass/sass/base.sass */
body {
  background-color: #cccccc;
}

/* line 14, ../../compass/sass/base.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 18, ../../compass/sass/base.sass */
#header, #main_Content, #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header, * html #main_Content, * html #footer {
  overflow-x: hidden;
}

/* line 22, ../../compass/sass/base.sass */
#header {
  background-color: white;
}

/* line 24, ../../compass/sass/base.sass */
#logo, #contactBox, #mainSearchBox {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  height: 50px;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo, * html #contactBox, * html #mainSearchBox {
  overflow-x: hidden;
}

/* line 29, ../../compass/sass/base.sass */
#contactBox h2 {
  font-size: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contactBox h2 {
  overflow-x: hidden;
}
/* line 32, ../../compass/sass/base.sass */
#contactBox h2 a {
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#contactBox h2 a:hover {
  text-decoration: underline;
}
/* line 34, ../../compass/sass/base.sass */
#contactBox #contactBoxNumbers {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contactBox #contactBoxNumbers {
  overflow-x: hidden;
}
/* line 36, ../../compass/sass/base.sass */
#contactBox #contactBoxNumbers li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 39, ../../compass/sass/base.sass */
#mainSearchForm {
  background: transparent url("/media/icons/search.png") center left no-repeat;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: inline-block;
  padding-left: 30px;
}

/* line 46, ../../compass/sass/base.sass */
#main_Menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #256188;
  margin: 3px;
  height: 53px;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main_Menu {
  overflow-x: hidden;
}
/* line 53, ../../compass/sass/base.sass */
#main_Menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main_Menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main_Menu ul li:first-child, #main_Menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main_Menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main_Menu ul li.last {
  padding-right: 0;
}
/* line 56, ../../compass/sass/base.sass */
#main_Menu ul .mainMenuItem {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  height: 47px;
}
/* line 64, ../../compass/sass/base.sass */
#main_Menu ul .mainMenuItem a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: inline-block;
  padding-left: 30px;
  line-height: 25px;
  color: #f5f5f5;
}
/* line 4, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#main_Menu ul .mainMenuItem a:hover {
  text-decoration: underline;
}
/* line 73, ../../compass/sass/base.sass */
#main_Menu ul .mainMenuItem:hover {
  background-color: #4fa0d4;
  height: 38px;
}

/* line 79, ../../compass/sass/base.sass */
.homeMenuLink {
  background: transparent url("/media/icons/Home.png") center left no-repeat;
}

/* line 82, ../../compass/sass/base.sass */
.geFanucMenuLink {
  background: transparent url("/media/icons/GE.gif") center left no-repeat;
}

/* line 85, ../../compass/sass/base.sass */
.repairMenuLink {
  background: transparent url("/media/icons/Config-Tools.png") center left no-repeat;
}

/* line 88, ../../compass/sass/base.sass */
.supportMenuLink {
  background: transparent url("/media/icons/Help.png") center left no-repeat;
}

/* line 91, ../../compass/sass/base.sass */
.cotactMenuLink {
  background: transparent url("/media/icons/mail_plain.png") center left no-repeat;
}

/* line 94, ../../compass/sass/base.sass */
.aboutMenuLink {
  background: transparent url("/media/icons/Home.png") center left no-repeat;
}

/* line 97, ../../compass/sass/base.sass */
.faqMenuLink {
  background: transparent url("/media/icons/clipboard_full.png") center left no-repeat;
}

/* line 100, ../../compass/sass/base.sass */
.sellingMenuLink {
  background: transparent url("/media/icons/money_100_coins.png") center left no-repeat;
}

/* line 103, ../../compass/sass/base.sass */
.viewMenuLink {
  background: transparent url("/media/icons/My-Computer.png") center left no-repeat;
}

/* line 107, ../../compass/sass/base.sass */
#side_Menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-top: 50px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: #fbf7f8;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #side_Menu {
  overflow-x: hidden;
}

/* line 114, ../../compass/sass/base.sass */
#searchFormText, #searchFormButton {
  width: 108px;
}

/* line 117, ../../compass/sass/base.sass */
#quoteImageLink {
  width: 115px;
  height: 32px;
}

/* line 121, ../../compass/sass/base.sass */
.manufacturerList {
  padding-top: 30px;
}

/* line 124, ../../compass/sass/base.sass */
.manufacturerName {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 125, ../../compass/sass/base.sass */
.manufacturerName a {
  font-weight: bold;
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.manufacturerName a:hover {
  text-decoration: underline;
}

/* line 131, ../../compass/sass/base.sass */
.seriesList li a {
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.seriesList li a:hover {
  text-decoration: underline;
}

/* line 135, ../../compass/sass/base.sass */
#current_details {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  min-height: 200px;
  background-color: #b3e2fc;
  word-wrap: break-word;
}
/* line 147, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #current_details {
  overflow-x: hidden;
}

/* line 142, ../../compass/sass/base.sass */
#footer {
  height: 75px;
  background-color: navy;
}

/* line 146, ../../compass/sass/base.sass */
#footer_Menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-top: 10px;
  margin-left: 170px;
  margin-right: 170px;
}
/* line 60, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer_Menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer_Menu li:first-child, #footer_Menu li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer_Menu li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer_Menu li.last {
  padding-right: 0;
}
/* line 152, ../../compass/sass/base.sass */
#footer_Menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 154, ../../compass/sass/base.sass */
#footer_Menu li a {
  color: white;
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#footer_Menu li a:hover {
  text-decoration: underline;
}

/* line 157, ../../compass/sass/base.sass */
#copyrightInformation {
  color: white;
  padding-top: 10px;
  margin-left: 335px;
  margin-right: 385px;
}
