{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}	
	<div class="section">
		<div class="box">
			<div class="title">
				<h2>Add new study</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<form name="studyForm" id="studyForm" method="post" action="">
					<div class="line">
					{% csrf_token %}
					{{ form.as_p }}
					</div>
					<div class="line">
						<button type="submit" class="green medium"><span>Add Study</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}