<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7" >
    <link rel="shortcut icon" href="{{ STATIC_URL }}gfx/favicon-wolfscout.ico">

    <title>{% block title %}Wolfscout{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
	
	<!--[if lte IE 8]> 
		<script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.min.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.graphtable-0.2.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/customInput.jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sparkbox-select.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.timepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.treeview.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/wysiwyg.rmFormat.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/controls/wysiwyg.image.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/controls/wysiwyg.link.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/controls/wysiwyg.table.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/inline.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/wolfscout.js"></script>
	
	<!--ARCGIS JS AND STYLING-->
	
	<link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.5/js/dojo/dijit/themes/soria/soria.css">
	<link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.5/js/esri/dijit/css/Popup.css">
	<script type="text/javascript">var djConfig = {parseOnLoad: true};</script>	
	<script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.5"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/arcgis_layout.js"></script>
		
</head>
<body>
	<a href="/" name="top"/>
	<div class="container">   
		<div class="logo-labels">
			<h1><a href="/">Wolfscout</a></h1>
			<ul>
				<li><a href="/admin" target="_blank"><span>Admin</span></a></li>
				{% load url from future %}
				<li class="logout"><a href="{% url 'django.contrib.auth.views.logout' %}"><span>Logout</span></a></li>
			</ul>
		</div>
		<div class="menu-search">
			<ul>
				<li class="{% ifequal request.path "/" %}current{% endifequal %}"><a href="/">Dashboard</a></li>
                <li class="{% ifequal request.path "/export_animal/" %}current{% endifequal %}"><a href="/export_animal">Export By Animal</a></li>
                <li class="{% ifequal request.path "/export_collar/" %}current{% endifequal %}"><a href="/export_collar">Export By Collar</a></li>
                <li class="{% ifequal request.path "/export_interactions/" %}current{% endifequal %}"><a href="/export_interactions">Export By Interactions</a></li>
			</ul>
		</div>
		<div class="breadcrumbs">
			<div class="loginmessage">
				Welcome back, {% if user.first_name != '' %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
			</div>
		</div>
	        {% block content %}

	        {% endblock %}
		<div class="footer">
			<div class="split">&#169; Copyright <a href="#">wolfscout.ncsu.com</a></div> 
			<div class="split right"><a href="#top"><IMG SRC="{{ STATIC_URL }}gfx/anchorarrow_02.gif"></a><a href="#top">Back to Top</a></div> 
		</div>
	</div>
</body>
</html>