<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7" >
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bluetheme/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bluetheme/css/layout.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bluetheme/css/menu.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bluetheme/css/slider.css">

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/redmond/jquery-ui-1.8.15.custom.css">

    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bluetheme/css/layout-ie.css"/>
    <![endif]-->

    <script type="text/javascript" src="{{ MEDIA_URL }}bluetheme/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bluetheme/js/jquery.easing.1.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bluetheme/js/jquery.anythingslider.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/quoteForm.js"></script>

    <title>{% block title %}Sample Title{% endblock %}</title>
</head>
<body>
    <div id="header">

    </div>

    <div id="mainContent">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
        
    </div>
</body>
</html>