{% extends "base.html" %}

{% block title %}Wolfscout{% endblock %}

{% block content %}	
	<div class="section">
		<div class="box medium">
			<div class="title">
				<h2>Collars</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<form method="post" action=".">
					<div class="line">
						{% csrf_token %}
						{{ form.as_p }}
					</div>
					<div class="line">
						<button type="submit" class="green medium"><span>Generate Interaction Data</span></button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="box medium">
			<div class="title">
				<h2>Shape Files</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<form method="post" action=".">
					<div class="line">

					</div>
					<div class="line">
						<button type="submit" class="green medium"><span>Upload shape file</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="box medium">
			<div class="title">
				<h2>Select Collars</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<div class="line">
                    <table cellspacing="0" cellpadding="0" border="0" >
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="check" class="checkall checkbox-small" /></th>
                                <th>Collar ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for collar in collars %}
                            <tr>
                                <td><input type="checkbox" name="check" class="checkbox-small enableDistance"/></td>
                                <td>{{ collar }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
		<div class="box medium">
			<div class="title">
				<h2>Select Shapes</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<div class="line">
                </div>
			</div>
		</div>
	</div>
{% endblock %}