{% extends "base.html" %}

{% block title %}Collar Data{% endblock %}

{% block content %}	
	<div class="section">
		<div class="box">
			<div class="title">
				<h2>Collar Data</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
                <div class="line">
                    <table cellspacing="0" cellpadding="0" border="0" class="table-all">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="check" class="checkall checkbox-small" /></th>
                                <th>Collar</th>
                                <th>LMT DATETIME</th>
                                <th>LATITUDE</th>
                                <th>LONGITUDE</th>
                                <th>HEIGHT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in collarDatas %}
                            <tr>
                                <td><input type="checkbox" name="check" class="checkbox-small"/></td>
                                <td>{{ data.collar }}</td>
                                <td>{{ data.LMT_DATETIME }}</td>
                                <td>{{ data.LATITUDE }}</td>
                                <td>{{ data.LONGITUDE }}</td>
                                <td>{{ data.HEIGHT }}</td>
                                <td>
                                    <a href="#"><img src="{{ STATIC_URL }}gfx/icon-edit.png" alt="edit" /></a>
                                    <a href="#"><img src="{{ STATIC_URL }}gfx/icon-delete.png" alt="delete" /></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pager" class="pager">
                        <form action="">
                            <button type="submit" class="red"><span>Delete</span></button>
                            <div>
                                <img src="{{ STATIC_URL }}gfx/table-first.gif" class="first" alt="First" />
                                <img src="{{ STATIC_URL }}gfx/table-prev.gif" class="prev" alt="Previous" />
                                <input type="text" class="pagedisplay"/>
                                <img src="{{ STATIC_URL }}gfx/table-next.gif" class="next" alt="Next" />
                                <img src="{{ STATIC_URL }}gfx/table-last.gif" class="last" alt="Last" />
                            </div>
                            <select class="pagesize">
                                <option selected="selected" value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}