{% extends "base.html" %}

{% block title %}Export By Collar{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
	<div class="section">
		<div class="box medium-custom">
			<div class="title">
				<h2>Collar Data</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
                <div class="line scrollbox medium">
                    <table cellspacing="0" cellpadding="0" border="0" class="sorting">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="check" class="checkall checkbox-small" /></th>
                                <th>Collar ID</th>
                                <th>Export Single</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for field in form_collars %}
                            <tr>
                                <td>{{ field }}</td>
                                <td>{{ field.label }}</td>
                                <td>
                                    <button class="is_single_csv tooltip" name="{{ field.label }}" type="submit" title="Export Collar Data CSV" type="submit"><img class="export_single_collardata_csv" src="{{ STATIC_URL }}gfx/icon-csv.gif" alt="edit" /></button>
                                    <!--<button class="is_single_shape tooltip" name="{{ field.label }}" type="submit" title="Export Collar Data SHAPE" type="submit"><img class="export_single_collardata_shape" src="{{ STATIC_URL }}gfx/shape-icon.gif" alt="edit" /></button>-->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

        <div class="box small-custom">
            <div class="title">
                <h2>Filter Options</h2>
                <span class="hide"></span>
            </div>
            <div class="content tabs">
                <div class="tabmenu">
                    <ul>
                        <li><a href="#tabs-1">Collar</a></li>
                        <li><a href="#tabs-2">Weather</a></li>
                    </ul>
                </div>

                <div class="line scrollbox medium" >
                    <div id="tabs-1">
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small" checked="checked" /></th>
                                    <th>All Collar Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_collars_filter %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="tabs-2">
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small" checked="checked"/></th>
                                    <th>All Weather Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_weather_filter %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="box">
            <div class="title">
                <h2>Export</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class="line">
                    <button type="submit" class="green"><span class="export_multi_collardata_csv">Export Multiple Collar CSV</span></button>
                    <!--<button type="submit" class="blue"><span class="export_multi_collardata_shape">Export Multiple Collar SHAPE</span></button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section export_box_hidden">
        <div class="box">
            <div class="title">
                <h2>Export Parameters</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class="line">
                {{ form_export_type.as_p }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}