{% extends "base.html" %}

{% block title %}Wolfscout{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
	<div class="section">
		<div class="box medium-custom">
			<div class="title">
				<h2>Animal Filter</h2>
				<span class="hide"></span>
			</div>
			<div class="content tabs">

                <div class="tabmenu">
                    <ul>
                        <li><a href="#animal">Animal</a></li>
                        <li><a href="#age">Age</a></li>
                        <li><a href="#date-range">Date Range</a></li>
                        <li><a href="#time-of-day">Time of Day</a></li>
                        <li><a href="#sex">Sex</a></li>
                        <li><a href="#species">Species</a></li>
                    </ul>
                </div>

                <div class="line scrollbox medium" >
                    <div id="animal">
                        <h3>Note: Selecting a animal disables the Sex and Species tab.</h3>
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Common Name</th>
                                    <th>Age</th>
                                    <th>Sex</th>
                                    <th>Species</th>
                                    <th>Collar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_animal_name %}
                                <tr>
                                    <td>{{ field }}</td>
                                    {% for animal in animals %}
                                        {% ifequal animal.common_name field.name %}
                                    <td>{{ animal.common_name }}</td>
                                    <td>{{ animal.age }}</td>
                                    <td>{{ animal.sex }}</td>
                                    <td>{{ animal.species }}</td>
                                    <td>{{ animal.collar }}</td>
                                        {% endifequal %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="age">
                        <h3><a href="#">Age Range</a></h3>
                        <div>

                        </div>
                    </div>

                    <div id="date-range">
                        <h3><a href="#">Date Range</a></h3>
                        <div>
                            <div class="line">
                                <label>From</label>
                                <input type="text" class="datepicker" />
                            </div>
                            <div class="line">
                                <label>To</label>
                                <input type="text" class="datepicker" />
                            </div>
                        </div>
                    </div>

                    <div id="time-of-day">
                        <h3><a href="#">Time of Day</a></h3>
                        <div>
                            <div class="line">
                                <label>From</label>
                                <input type="text" class="timepicker" />
                            </div>
                            <div class="line">
                                <label>To</label>
                                <input type="text" class="timepicker" />
                            </div>
                        </div>
                    </div>

                    <div id="sex">
                        <table cellspacing="0" cellpadding="0" border="0" class="sorting sex_tab">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small"/></th>
                                    <th>Sex</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_sex %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="species">
                        <table cellspacing="0" cellpadding="0" border="0" class="sorting species_tab">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Species Name</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                            <form>
                            {% for field in form_species_name %}
                                <tr>
                                    <td>{{ field }}</td>
                                    {% for sp in species %}
                                        {% ifequal sp.name field.name %}
                                    <td>{{ sp.name }}</td>
                                    <td>{{ sp.notes }}</td>
                                        {% endifequal %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="box small-custom">
            <div class="title">
                <h2>Filter Fields</h2>
                <span class="hide"></span>
            </div>
            <div class="content tabs">
                <div class="tabmenu">
                    <ul>
                        <li><a href="#tabs-1">Collar</a></li>
                        <li><a href="#tabs-2">Weather</a></li>
                        <li><a href="#tabs-3">Animal</a></li>
                    </ul>
                </div>

                <div class="line scrollbox medium" >
                    <div id="tabs-1">
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small" checked="checked" /></th>
                                    <th>Collar Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_collars_filter %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="tabs-2">
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small" checked="checked"/></th>
                                    <th>Weather Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_weather_filter %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="tabs-3">
                        <table cellspacing="0" cellpadding="0" border="0"  class="sorting">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="check" class="checkall checkbox-small" checked="checked"/></th>
                                    <th>Animal Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in form_animal_filter %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="box">
            <div class="title">
                <h2>Export</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class="line">
                    <button type="submit" class="green"><span class="export_animal_csv">Export Animal Data CSV</span></button>
                    <button type="submit" class="blue"><span class="export_animal_shape">Export Animal Data SHAPE</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="section export_box_hidden">
        <div class="box">
            <div class="title">
                <h2>Export Parameters</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class="line">
                {{ form_export_animal_type.as_p }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}