{% extends "base.html" %}

{% block title %}Wolfscout{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
	<div class="section">
        <div class="box">
            <div class="title">
                <h2>Animal Interaction Groups for '{{ study.title }}'</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class = "line">
                    <h2>Click on an Animal Interaction Group to view its interactions or click export...</h2>
                </div>
                <div class = "line">
                    <table cellspacing="0" cellpadding="0" border="0" class="sorting">
                        <thead>
                            <tr>
                                <th class="header-primary">Interaction Group</th>
                                <th>Distance for this Group</th>
                                <th>Export Interaction Group</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in studyInteractionGroups %}
                            <tr>
                                <td><a href = "/export_interactions/group/{{ group.pk }}">{{ group.title }}</td>
                                <td>{{ group.distance }} km</td>
                                <td>
                                    <button class="is_single tooltip" name="{{ group.pk }}" type="submit" title="Export Interaction Group SHAPE" type="submit"><img src="{{ STATIC_URL }}gfx/shape-icon.gif" alt="edit" /></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>

    <div class="section export_box_hidden">
        <div class="box">
            <div class="title">
                <h2>Export Parameters</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <div class="line">
                {{ form_export_type.as_p }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}