{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}	
	<div class="section">
        <div class="box medium">
            <div class="title">
                <h2>Hey there, {% if user.first_name != '' %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</h2>
                <span class="hide"></span>
            </div>
            <div class="content">
                <img src="{{ STATIC_URL }}gfx/wolfscout.png" width="90px" class="right"/>
                <div class="line">
                    <h4>Documentation:</h4>
                    <ol>
                        <li><a href="{{ STATIC_URL }}documentation/developerguide.pdf" target="_blank">Developer Guide</a></li>
                        <li><a href="{{ STATIC_URL }}documentation/User Guide.pdf" target="_blank">User Guide</a></li>
                        <li><a href="https://github.com/NCSU-VSR/wolfscout/blob/master/README.md" target="_blank">Wolfscout - Installation (github)</a></li>
                        <li><a href="https://github.com/NCSU-VSR/wolfscout" target="_blank">Wolfscout - NCSU-VSR (github)</a></li>
                    </ol>
                </div>

                <div class="line">
                    <h4>Reports:</h4>
                    <ol>
                        <li><a href="{{ STATIC_URL }}documentation/Final Progress Report.pdf" target="_blank">Final Progress Report</a></li>
                        <li><a href="{{ STATIC_URL }}documentation/WPR 1.pdf" target="_blank">WPR 1</a></li>
                        <li><a href="{{ STATIC_URL }}documentation/WPR2.pdf" target="_blank">WPR 2</a></li>
                    </ol>
                </div>
            </div>
        </div>
		<div class="box medium">
			<div class="title">
				<h2>Studies</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<div class="line">
                    <h4>Studies you own:</h4>
                    <ol>
                        {% for study in myStudies %}
                        <li><a href="export_interactions/{{ study.pk }}" class="tooltip" title="{{ study.description }}">{{ study.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="line">
                    <h4>All available studies:</h4>
                    <ol>
                        {% for study in allStudies %}
                        <li><a href="export_interactions/{{ study.pk }}" class="tooltip" title="{{ study.description }}">{{ study.title }}</a></li>
                        {% endfor %}
                    </ol>
				</div>
			</div>
		</div>
	</div>
{% endblock %}