{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}	
	<div class="section">
		<div class="box big">
			<div class="title">
				<h2>Hey there, {% if user.first_name != '' %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.  Here's what's new...</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<div class="line">
					<h2>You have been added to 2 new studies:</h2>
					<ul>
						<li><a href="">March 2009 Coyote Tracker</a> (Added Yesterday - 11:36 AM, by <strong>fuzzybunny</strong>)</li>
						<li><a href="">2007 Deer/Coyote spatial &amp; temporial</a> (Added 3 days ago - 8:05 AM, by <strong>awesomepossum</strong>)</li>
					</ul>
				</div>
				
				<div class="line">
					<h2>Messages: </h2>
					<ul>
						<li><a href=""><strong>FROM: wolfscout</strong> - Welcome to Wolfscout!  Open me for awesome information regarding Wolfscout's awesomeness...</a></li>
						<li><a href=""><strong>FROM: chris</strong> - I am message number 2</a></li>
					</ul>
				</div>
				<div class="line">
					<h2>Notifications: </h2>
					<br />
					<a href="">
					<div class="messages blue">
						<span></span>
						Wolfscout has added new features!  Click  here for more information.
					</div>
					</a>
					<br />
					<div class="messages orange">
						<span></span>
						Study <a href="/study/8">Study #8</a> was recently edited by <a href="">chris</a>
					</div>
					<br />
					<div class="messages orange">
						<span></span>
						Study <a href="/study/6">Primary Collar 01</a> was recently edited by <a href="">frank</a>
					</div>
				</div>
			</div>
		</div>
		<div class="box small">
			<div class="title">
				<h2>Studies</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<h4>Most recent studies...</h4>
				<ol>
					{% for study in myStudies %}
					<li><a href="study/{{ study.pk }}" class="tooltip" title="{{ study.description }}">{{ study.title }}</a></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}