{% extends "base.html" %}

{% block title %}Studies{% endblock %}

{% block content %}	
	<div class="section">
		<div class="box">
			<div class="title">
				<h2>Your studies</h2>
				<span class="hide"></span>
			</div>
			<div class="content">
				<table cellspacing="0" cellpadding="0" border="0" class="table-all"> 
					<thead> 
						<tr> 
							<th><input type="checkbox" name="check" class="checkall checkbox-small" /></th>
							<th width="20%">Title</th>
							<th width="30%">Description</th>
							<th width="20%">Last accessed</th>
							<th width="15%">Owner</th>
							<th width="10%">Members</th>
							<th></th>
						</tr> 
					</thead> 
					<tbody> 
						{% for study in myStudies %}
						<tr> 
							<td><input type="checkbox" name="{{ study.pk }}" class="checkbox-small"/></td>
							<td><a href="/study/{{ study.pk }}">{{ study.title }}</a></td>
							<td>{{ study.description }}</td>
							<td>{{ study.last_accessed }}</td>
							<td>{{ study.owner }}</td>
							<td>
							{% if study.members.all|length != 0 %}
							<a href="#" class="tooltip" title="
								<ol>
								{% for member in study.members.all %}
									<li>{{ member.username }}</li>
								{% endfor %}
								</ol>
							">{{ study.members.all|length }} members</a>
							{% else %}
							<a href="">0 members</a>
							{% endif %}
							</td>
							<td>
								<a href="/editStudy/{{ study.pk }}/" class="tooltip" title="Edit"><img src="{{ STATIC_URL }}gfx/icon-edit.png" alt="edit" /></a>
								<a href="/deleteStudy/{{ study.pk }}/" class="tooltip" title="Delete"><img src="{{ STATIC_URL }}gfx/icon-delete.png" alt="delete" /></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div id="pager" class="pager">
					<form action="">
						<button type="submit" class="red"><span>Delete Selected</span></button>
						<a href="/addStudy"><button type="submit" class="green"><span>Add New Study</span></button></a>
						<div>
							<img src="{{ STATIC_URL }}gfx/table-first.gif" class="first" alt="First" />
							<img src="{{ STATIC_URL }}gfx/table-prev.gif" class="prev" alt="Previous" />
							<input type="text" class="pagedisplay"/>
							<img src="{{ STATIC_URL }}gfx/table-next.gif" class="next" alt="Next" />
							<img src="{{ STATIC_URL }}gfx/table-last.gif" class="last" alt="Last" />
						</div>
						<select class="pagesize">
							<option selected="selected" value="5">5</option>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}